<h1 class="text-center text-white bg-dark p-3">
    <i class="fa-solid fa-user-astronaut"></i>
    Projeto login
    <i class="fa-solid fa-right-to-bracket"></i>
</h1>

<div class="col-md-6 offset-md-3">
<div class="card shadow mt-3">
    <div class="card-header">
      <h4 class="text-center"> Fomulario de login</h4>
    <div class="card-body">
        <label>Email</label><br>
        <input type="text" name="email" id="email" placeholder="Digite seu email" 
        class="form-control"><br>

        <label>Senha</label><br>
        <input type="password" name="password" id="password" placeholder="Digite sua senha" 
        class="form-control"><br>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="button">
                Logar
                <i class="fa-solid fa-arrow-right"></i>
            </button>
    </div>
    </div>
   
</div>
</div>